<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belt Exam - Huebra Javier</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans flex flex-col items-center justify-center h-screen">
<img src="https://cutecdn.codingdojo.com/svg_images/logos/coding_dojo_blue.svg" alt="coding dojo logo" class="mb-4">
<h1 class="text-3xl font-bold mb-2">Belt Exam - Javier Emanuel Huebra</h1>
<a href="/loginRegistration" class="text-blue-500 hover:underline">Ir a la página de registro</a>
</body>
</html>
